/* @import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap'); */
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    font-family: 'Space Grotesk', 'Michroma', 'Figtree', 'system-ui', 'sans-serif';
  }
}
body {
  margin: 0;
  font-family: 'Space Grotesk', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes client-slide {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
.animate-client-slide {
  animation: client-slide 30s linear infinite;
}

.glare-hover {
  position: relative;
  overflow: hidden;
}
.glare {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: -75%;
  width: 150%;
  height: 100%;
  background: linear-gradient(120deg, rgba(255,255,255,0.15) 0%, rgba(255,255,255,0.6) 50%, rgba(255,255,255,0.15) 100%);
  transform: skewX(-20deg);
  opacity: 0;
  transition: opacity 0.2s, left 0.6s;
}
.glare-hover:hover .glare {
  opacity: 1;
  left: 100%;
  transition: opacity 0.2s, left 0.6s;
}
